{{ define "hero" }}
    <header class="header-hero shadow-2xl relative overflow-hidden">
        <div class="absolute hero-clouds w-full z-0"><img src="/images/hero-clouds.svg" alt=""></div>
        <div class="mx-auto text-center">
            <h1>{{ .Title }}</h1>
            <p class="text-xl leading-relaxed">
                {{ .Description }}
            </p>
            <div class="inline-block flex items-center justify-center">
                <span class="text-orange-500 p-4" style="fill: #ee975c;">
                    <svg class="w-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><defs><style>.fa-secondary{opacity:.4}</style></defs>
                        <path d="M423.16 186.58L448 127l59.58-24.84a8 8 0 0 0 0-14.32L448 63 423.16 3.42a8 8 0 0 0-14.32 0L384 63l-59.58 24.84a8 8 0 0 0 0 14.32L384 127l24.84 59.58a8 8 0 0 0 14.32 0zm-14.32 136.84L384 383l-59.58 24.84a8 8 0 0 0 0 14.32L384 447l24.84 59.58a8 8 0 0 0 14.32 0L448 447l59.58-24.84a8 8 0 0 0 0-14.32L448 383l-24.84-59.58a8 8 0 0 0-14.32 0z" class="fa-secondary sparkle secondary"/>
                        <path d="M384 254.64a16.06 16.06 0 0 0-8.84-14.33l-112.57-56.39-56.28-112.77c-5.44-10.87-23.19-10.87-28.62 0l-56.28 112.77L8.84 240.31a16 16 0 0 0 0 28.67l112.57 56.39 56.28 112.77a16 16 0 0 0 28.62 0l56.28-112.77L375.16 269a16.07 16.07 0 0 0 8.84-14.36z" class="fa-primary sparkle primary"/>
                    </svg>
                </span>
            </div>
        </div>
    </header>
{{ end }}

{{ define "main" }}
    {{/* Iterate over all pages, making two lists -- one for modules, another for topics. */}}
    {{ $allModules := slice }}
    {{ $allTopics := slice }}
    {{ $allTutorials := slice }}
    {{ $learnPages := where (where .Site.Pages "Section" "learn") ".Kind" "page" }}
    {{ range $learnPages }}
        {{ if eq (len (split .Path "/")) 3 }}
            {{ $allModules = $allModules | append .Page }}
        {{ else }}
            {{ $allTopics = $allTopics | append .Page }}
        {{ end }}
    {{ end }}

    <nav class="nav-section-sticky">
        <div class="container mx-auto uppercase">
            <ul>
                <li><a href="#">{{ .Params.modules.Title }}</a></li>
                <li><a href="#">{{ .Params.tutorials.Title }}</a></li>
                <li><a href="#">Some other thing</a></li>
            </ul>
        </div>
    </nav>
    <div class="mx-auto max-w-3xl text-center max-w-3xl px-4 py-8 mt-2">
        <h2>{{ .Params.modules.title }}</h2>
        <p class="mb-0">
            {{ .Params.modules.description }}
        </p>
    </div>
    <div class="container mx-auto md:flex flex-wrap my-4 justify-center">
        {{ if gt (len $allModules) 0 }}
            {{ range $allModules }}
                {{ $module := . }}
                {{ $topics := slice }}

                {{ range $allTopics }}
                    {{ $topic := . }}
                    {{ if hasPrefix $topic.File.Dir $module.File.Dir }}
                        {{ $topics = $topics | append $topic }}
                    {{ end }}
                {{ end }}

                <div class="md:w-1/3 rounded bg-white m-4 shadow-lg hover:shadow-xl">
                    {{ if .Params.meta_image }}
                        <a href="{{ .RelPermalink }}">
                            <img
                                class="rounded-t"
                                src="{{ (.Resources.GetMatch .Params.meta_image).RelPermalink }}"
                            alt="{{ .Title }}">
                        </a>
                    {{ end }}
                    <div class="p-8">
                        <h3>{{ $module.Title }}</h3>
                        <p>
                            {{ $module.Description }}
                        </p>
                        <p>
                            {{ len $topics }} topic{{ if ne (len $topics) 1}}s{{ end }}
                        </p>
                    </div>
                </div>
            {{ end }}
        {{ else }}
            <div class="mx-4">
                <p class="my-12">No modules yet.</p>
            </div>
        {{ end }}
    </div>
    <div class="mx-auto max-w-3xl text-center max-w-3xl px-4 py-8 mt-2">
        <h2>{{ .Params.tutorials.title }}</h2>
        <p class="mb-0">
            {{ .Params.tutorials.description }}
        </p>
        {{ if gt (len $allTutorials) 0 }}
            Yay, tutorials!
        {{ else }}
            <div class="mx-4">
                <p class="my-12">No tutorials yet.</p>
            </div>
        {{ end }}
    </div>
{{ end }}
