{{ define "main" }}
    <header class="container mx-auto py-8 border-b border-gray-300 max-w-3xl px-4">
        <h1>{{ .Title }}</h1>
        {{ if .Params.meta_image }}
            <a href="{{ .RelPermalink }}">
                <img
                    class="rounded"
                    src="{{ (.Resources.GetMatch .Params.meta_image).RelPermalink }}"
                alt="{{ .Title }}">
            </a>
        {{ end }}
        {{ if .Params.description }}
            <p class="text-xl text-gray-600">
                {{ .Params.description }}
            </p>
        {{ end }}

        Part of
        {{ $path := (split .Path "/" ) }}
        {{ $module := .GetPage (path.Join (slice | append (index $path 0) (index $path 1)) "/")  }}
        <a class="text-blue-500" href="{{ $module.RelPermalink }}">{{ $module.Title }}</a>
    </header>
    <section class="container mx-auto max-w-3xl py-8 px-4">
        {{ .Content }}
    </section>
    <section class="container mx-auto max-w-3xl">
        <ul>
            {{ range where .Site.Pages "Section" "learn" }}
                {{ if eq .Kind "page"  }}
                    {{ if in .File.Dir "topics" }}
                        {{ $topic := . }}
                        {{ if hasPrefix $topic.File.Dir .File.Dir }}
                            <li>
                                <h3>{{ $topic.Title }}</h3>
                                <p>
                                    {{ $topic.Description }}
                                </p>
                            </li>
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
        </ul>
    </section>
    <section class="container mx-auto max-w-3xl mb-16">
        {{ if .NextInSection }}
            <a class="btn btn-secondary" href="{{ .NextInSection.RelPermalink }}">Next up: {{ .NextInSection.Title }} &rarr;</a>
        {{ end }}
    </section>
{{ end }}
